<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cappuensino</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/global_home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <section>
          <a href="/"
            ><img src="../Images/logo.png" alt=""
          /></a>
        </section>
        <form class="" action="">
          <input
            class="pesquisa"
            type="search"
            placeholder="Pesquise por cursos..."
          />
        </form>
        <ul>
          <li><a href="/quemsomos">Sobre</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="/planos">Planos</a></li>
          <li><a href="/sou-aluno">Aluno</a></li>
          <li><a href="/sou-professor">Professor</a></li>
        </ul>
        <section class="login-cadastro">
          <a href="auth/cl-login">Login</a>
          <a id="cadastro" href="auth/cl-loginmain">Cadastre-se</a>
        </section>
      </nav>
    </header>

    <section class="pg1-container">
      <section class="pg1">
        <h1>BEM-VINDO AO</h1>
        <h2>
          CAPPU <br />
          ENSINO
        </h2>
        <h3>
          TRANSFORMANDO O JEITO DE <br />
          ESTUDAR
        </h3>
        <h4>
          No cappuensino acreditamos que cada estudante é único e que <br />
          o sucesso nos estudos depende de organização e foco.
        </h4>
      </section>
      <img src="/images/pg1.png" alt="Imagem ilustrativa" class="big-images" />
    </section>

    <section class="pg2-container">
      <img src="/images/pg2.png" alt="Imagem ilustrativa" class="big-images" />
      <section class="pg2">
        <h1>
          O QUE É O <br />
          CAPPUENSINO?
        </h1>
        <h2>
          O cappuensino é um site de estudos focado <br />
          tanto em professores quanto em alunos. Aqui <br />
          transformamos seus sonhos em realidade, para <br />
          que <strong>você Aluno</strong>, possa aprender da forma mais <br />
          simples e prática e <strong>você professor</strong> possa <br />
          ensinar de forma simples e dinâmica sem <br />
          atrasos nem dificuldade.
        </h2>
      </section>
    </section>

    <section class="pg3-container">
      <section class="pg3">
        <h1>POR QUE NOS ESCOLHER?</h1>
        <h2>
          Temos tudo em um <br />
          só lugar!
        </h2>
        <ul>
          <li>
            <img src="/images/pg3-1.png" alt="Ícone" />
            <p>
              <strong>Planos de estudo</strong> personalizados para cada meta,
              <br />ajustados ao seu tempo e ritmo.
            </p>
          </li>
          <li>
            <img src="/images/pg3-2.png" alt="Ícone" />
            <p>
              <strong>Métodos de estudos</strong> que otimizam seu tempo e
              <br />retém a maior quantidade de conteúdo.
            </p>
          </li>
          <li>
            <img src="/images/pg3-3.png" alt="Ícone" />
            <p>
              <strong>Dicas e estratégias</strong> para provas, como organização
              <br />de rotina, maximização de desempenho e como <br />lidar com
              o estresse.
            </p>
          </li>
          <li>
            <img src="/images/pg3-4.png" alt="Ícone" />
            <p>
              <strong>Simulados e testes</strong>, para fixar o conteúdo e
              <br />treinar para as provas.
            </p>
          </li>
        </ul>
      </section>
      <img src="/images/pg3.png" alt="Imagem ilustrativa" class="big-images" />
    </section>

    <section class="pg4-container">
      <section class="pg4">
        <h1>O que você encontra aqui?</h1>
        <ul class="list">
          <li>I.A Cappu</li>
          <li>Fórum Exclusivo</li>
          <li>Avaliações</li>
          <li>Métodos de estudo</li>
          <li>Rotina Personalizada</li>
        </ul>
        <button><a href="/planos">SAIBA MAIS</a></button>
      </section>
    </section>

    <%- include('../partials/footer') %>
  </body>
</html>
