<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cappuensino - Planos</title>
    <link rel="stylesheet" href="/css/planos.css" />
    <link rel="stylesheet" href="/css/global_home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <section>
          <a href="/"
            ><img src="../Images/logo.png" alt=""
          /></a>
        </section>
        <form class="" action="">
          <input
            class="pesquisa"
            type="search"
            placeholder="Pesquise por cursos..."
          />
        </form>
        <ul>
          <li><a href="/quemsomos">Sobre</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="/planos">Planos</a></li>
          <li><a href="/sou-aluno">Aluno</a></li>
          <li><a href="/sou-professor">Professor</a></li>
        </ul>
        <section class="login-cadastro">
          <a href="auth/cl-login">Login</a>
          <a id="cadastro" href="auth/cl-loginmain">Cadastre-se</a>
        </section>
      </nav>
    </header>
    <main class="conteiner">
      <section class="planos">
        <section>
          <h1>PLANOS</h1>
          <p>Tudo o que você precisa na<br />ponta do seu dedo.</p>
        </section>
        <img
          src="/images/business.svg"
          alt="3 pessoas em um umbiente de negocios, com algumas notas de dinheiro voando"
        />
      </section>
      <section class="cards">
        <section class="descricao1">
          <h2 class="nomeplano">PLANO SIMPLES<br />MENSAL</h2>
          <h3 class="valorplano"><span class="real">R$</span>29,90</h3>
          <ul>
            <li>Acesso a 3 cursos de escolha por mês</li>
            <li>Acompanhamento de Progresso</li>
            <li>Rotina</li>
            <li>Certificados</li>
          </ul>
          <a href="#">SAIBA MAIS</a>
        </section>
        <section class="descricao2">
          <h2 class="nomeplano">PLANO PREMIUM<br />MENSAL</h2>
          <h3 class="valorplano"><span class="real">R$</span>99,90</h3>
          <ul>
            <li>Todos os benefícios do plano simples</li>
            <li>Todos os cursos liberados</li>
            <li>Acompanhamento de Progresso</li>
            <li>Organizações de Rotina</li>
            <li>Técnicas de Estudo</li>
            <li>Avaliar Professores</li>
          </ul>
          <a href="#">SAIBA MAIS</a>
        </section>
      </section>
      <section class="motivo">
        <h4>POR QUE ADERIR AO CAPPU?</h4>
        <div>
          <p>
            Porque <span>aqui no cappu é tudo mais fácil,</span> você consegue
            acessar todos os seus benefícios dentro do nosso site de forma
            didática.
          </p>
          <br />
          <p>
            Além de tudo isso o cappu também te
            <span>oferece qualidade e individualidade,</span> seu plano nunca
            será igual ao de outra pessoa.
          </p>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
