<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CappuEnsino</title>
    <link rel="stylesheet" href="/css/quemsomos.css" />
    <link rel="stylesheet" href="/css/global_home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <section class="imagem-de-fundo"></section>

    <header>
      <nav>
        <section>
          <a href="/"
            ><img src="../Images/logo.png" alt=""
          /></a>
        </section>
        <form class="" action="">
          <input
            class="pesquisa"
            type="search"
            placeholder="Pesquise por cursos..."
          />
        </form>
        <ul>
          <li><a href="/quemsomos">Sobre</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="/planos">Planos</a></li>
          <li><a href="/sou-aluno">Aluno</a></li>
          <li><a href="/sou-professor">Professor</a></li>
        </ul>
        <section class="login-cadastro">
          <a href="auth/cl-login">Login</a>
          <a id="cadastro" href="auth/cl-loginmain">Cadastre-se</a>
        </section>
      </nav>
    </header>
    <main class="conteiner">
      <section class="descubra">
        <figure>
          <img
            class="luneta"
            src="/images/olhando.svg"
            alt="Imagem de um homem olhando para o texto quem somos"
          />
        </figure>
        <section>
          <h1>DESCUBRA <br />QUEM SOMOS</h1>
          <p class="aqui">
            AQUI VOCÊ ENCONTRA TUDO QUE PRECISA SABER SOBRE NÓS
          </p>
        </section>
      </section>
      <section class="quemsomos">
        <h2>QUEM<br />SOMOS?</h2>
        <p>
          Somos uma plataforma de aprendizado dedicada a conectar alunos e
          professores, oferecendo cursos, planos de estudo personalizados, e
          ferramentas de apoio, como inteligência artificial e um fórum
          colaborativo.<br /><br />

          Queremos simplificar o processo de ensino e aprendizado,
          proporcionando uma experiência envolvente e
          <span class="destaque">acessível</span> para quem quer ensinar e para
          quem deseja aprender em qualquer fase da vida.
        </p>
      </section>
      <section class="missao">
        <p>
          Nossa missão é facilitar o acesso ao conhecimento e promover o
          aprendizado contínuo com uma plataforma inovadora e de
          <span class="destaque">alta qualidade</span> para alunos e
          professores.<br /><br />

          Queremos ser a principal
          <span class="destaque">referência em educação online</span>,
          destacando-nos pela excelência de conteúdo e impacto positivo na
          jornada educacional.<br /><br />

          Com o objetivo é oferecer
          <span class="destaque">educação acessível</span> para estudantes de
          todas as idades, contribuindo para os Objetivos de Desenvolvimento
          Sustentável (ODS) em educação e sustentabilidade.
        </p>
        <h3>MISSÃO,<br />VISÃO E<br />OBJETIVO</h3>
      </section>
      <section class="duvidas">
        <p>
          Ficou com dúvidas? Não se preocupe, fale conosco clicando<br /><a
            class="aquilink"
            href="/suporte"
            >AQUI</a
          >
        </p>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
