<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cappuensino - Sou Professor</title>
    <link rel="stylesheet" href="/css/global_home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/sou-professor.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <section>
          <a href="/"
            ><img src="../Images/logo.png" alt=""
          /></a>
        </section>
        <form class="" action="">
          <input
            class="pesquisa"
            type="search"
            placeholder="Pesquise por cursos..."
          />
        </form>
        <ul>
          <li><a href="/quemsomos">Sobre</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li><a href="/planos">Planos</a></li>
          <li><a href="/sou-aluno">Aluno</a></li>
          <li><a href="/sou-professor">Professor</a></li>
        </ul>
        <section class="login-cadastro">
          <a href="auth/cl-login">Login</a>
          <a id="cadastro" href="auth/cl-loginmain">Cadastre-se</a>
        </section>
      </nav>
    </header>

    <main>
      <section id="gradiente">
        <section class="pg1-container">
          <div id="txt-pg1">
            <h1>Venha ser nosso professor!</h1>
            <h2>SEU CONHECIMENTO TRANSFORMA VIDAS</h2>
          </div>
          <img
            src="/images/sou-professor.svg"
            alt="Pessoas olhando o notebook"
          />
        </section>
        <a href="/register/professor" id="botao">CADASTRE-SE</a>
      </section>

      <h1>Ferramentas pra você</h1>

      <section class="pg2-container">
        <section class="pg2">
          <div class="circulo">
            <img src="/images/estatistica-2.svg" alt="Ícone de estatísticas" />
          </div>
          <h3>Estatísticas</h3>
          <p>Acompanhe o progresso e engajamento dos alunos.</p>
        </section>

        <section class="pg2">
          <div class="circulo">
            <img src="/images/agenda.svg" alt="Ícone de agenda" />
          </div>
          <h3>Agenda</h3>
          <p>Organize seu calendário com datas, entregas e lembretes.</p>
        </section>

        <section class="pg2">
          <div class="circulo">
            <img src="/images/feedback.svg" alt="Ícone de feedback" />
          </div>
          <h3>Feedback</h3>
          <p>Veja o que seus alunos estão achando do seu curso.</p>
        </section>

        <section class="pg2">
          <div class="circulo">
            <img src="/images/financeiro-2.svg" alt="Ícone de financeiro" />
          </div>
          <h3>Financeiro</h3>
          <p>Monitore seus ganhos, transações e crie promoções.</p>
        </section>
      </section>

      <section class="pg3-container">
        <div id="div-container">
          <div id="div2">
            <a href="/register/professor" id="inflame">INFLAME!</a>
          </div>
          <div id="div1">
            <h1>DESPERTAR INTERESSE E <br />INFLAMAR O INTUSIASMO</h1>
            <p>
              "Feliz aquele que transfere o que sabe e aprende <br />o que
              ensina."
            </p>
            <h2>FAÇA PARTE DO PROGRESSO E SUCESSO DOS SEUS ALUNOS NO CAPPU</h2>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
