<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso de Copywriting - Cappuensino</title>
    <link rel="stylesheet" href="../../../public/css/c-copy.css" />
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../../../public/images/voltar.svg" alt="Voltar" />
      </button>
      <section>
        <img src="../../../public/images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>

    <main>
      <section class="esquerda">
        <h2>CURSO ONLINE DE</h2>
        <h1>COPYWRITING</h1>
        <p class="curso">
          Aprenda a arte do copywriting e descubra como escrever textos
          persuasivos que prendem a atenção, geram engajamento e aumentam
          vendas. Este curso é ideal para quem deseja dominar as técnicas de
          escrita voltadas para marketing e comunicação, ajudando a alcançar
          resultados expressivos em campanhas publicitárias, redes sociais,
          e-mails e muito mais.
        </p>
        <p class="aprender">O QUE VOU APRENDER?</p>
        <section class="reviews">
          <h3>PRINCIPAIS AVALIAÇÕES</h3>
          <p class="ca">
            <span class="stars">★★★☆☆</span><br />O curso é interessante e traz
            boas dicas para quem está começando, mas senti falta de mais
            exemplos práticos e aprofundados, especialmente na parte de escrita
            para redes sociais e anúncios. Algumas partes são muito teóricas e
            poderiam ter mais aplicação prática. No geral, é útil, mas poderia
            ser mais detalhado.
          </p>
          <strong class="nome">CARLA M.</strong>

          <p class="joao">
            <span class="stars">★★★☆☆</span><br />Achei o curso interessante,
            mas senti que faltaram exemplos mais aprofundados em algumas partes,
            como a criação de e-mails para campanhas. No entanto, é uma boa
            introdução ao copywriting para iniciantes. Valeu como base, mas
            esperava mais material avançado.
          </p>
          <strong class="nome">JOAO P.</strong>
        </section>
      </section>

      <section class="direita">
        <p class="estrelas">3 ★★★☆☆</p>
        <img src="../../../public/Images/copy.svg" alt="Imagem ilustrativa do curso" />
        <section class="container">
          <section class="linha-info">
            <p class="bold">FEITO POR:</p>
            <p class="reg"><%= curso.professor %></p>
          </section>
          <section class="linha-info">
            <p class="bold">DURAÇÃO:</p>
            <p class="reg"><%= curso.duracao %></p>
          </section>
          <section class="linha-info">
            <p class="bold">VALOR:</p>
            <p class="reg">R$<%= curso.valor %></p>
          </section>
          <a href="../pages/home/planos.ejs" class="matricula">MATRICULAR-SE</a>
        </section>
      </section>
    </main>
  </body>
</html>
