<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cappuensino - Design Gráfico</title>
    <link rel="stylesheet" href="../../../public/css/c-des.css" />
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../../../public/images/voltar.svg" alt="Voltar" />
      </button>
      <section>
        <img
          src="../../../public/images/Logo (370 x 65 px).png"
          alt="Logo Cappuensino"
          class="logo"
        />
      </section>
    </header>

    <main>
      <section class="esquerda">
        <h2>CURSO ONLINE DE</h2>
        <h1>DESIGN GRÁFICO</h1>
        <p class="curso">
          Descubra o mundo do design gráfico e transforme suas ideias em
          criações visuais impactantes! Este curso é ideal para quem deseja
          aprender as bases do design ou aprimorar suas habilidades para atuar
          em uma das áreas mais dinâmicas e criativas do mercado.
        </p>
        <section class="reviews">
          <h3>PRINCIPAIS AVALIAÇÕES</h3>
          <p class="lari">
            <span class="stars">★★★★★</span><br />O curso é sensacional! Eu não
            tinha nenhuma experiência em design e aprendi muito, desde o básico
            até a criação de peças mais elaboradas. As explicações são claras, e
            os projetos práticos me ajudaram a montar um portfólio incrível.
            Agora me sinto confiante para começar a trabalhar na área!
          </p>
          <strong class="nome">LARISSA G.</strong>

          <p class="fe">
            <span class="stars">★★★★★</span><br />Adorei o curso! Os professores
            têm muita didática, e o conteúdo é bem completo. As aulas sobre
            Photoshop e Illustrator foram super fáceis de acompanhar, mesmo para
            quem nunca usou esses programas. Já consegui criar posts e logos
            para meu negócio. Recomendo para quem quer aprender e aplicar no dia
            a dia!
          </p>
          <strong class="nome">FELIPE R.</strong>
        </section>
      </section>

      <section class="direita">
        <p class="estrelas">5 ★★★★★</p>
        <img
          src="../../../public/images/des.svg"
          alt="Imagem ilustrativa do curso de Design Gráfico"
        />
        <section class="container">
          <section class="linha-info">
            <p class="bold">FEITO POR:</p>
            <p class="reg">Professor1</p>
          </section>
          <section class="linha-info">
            <p class="bold">DURAÇÃO:</p>
            <p class="reg">8 Meses</p>
          </section>
          <section class="linha-info">
            <p class="bold">VALOR:</p>
            <p class="reg">R$728,90</p>
          </section>
          <a href="../pages/home/planos.ejs" class="matricula">MATRICULAR-SE</a>
        </section>
      </section>
    </main>

    <%- include('../../partials/footer') %>
  </body>
</html>
