<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso de Fotografia - Cappuensino</title>
    <link rel="stylesheet" href="../../../public/css/c-foto.css" />
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../../../public/images/voltar.svg" alt="Voltar" />
      </button>
      <section>
        <img src="../../../public/images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>

    <main>
      <section class="esquerda">
        <h2>CURSO ONLINE DE</h2>
        <h1>FOTOGRAFIA</h1>
        <p class="curso">
          Descubra como capturar imagens incríveis e dar vida à sua criatividade
          com nosso curso de Fotografia Profissional. Este curso é perfeito para
          quem deseja dominar os fundamentos e as técnicas avançadas da
          fotografia, seja para hobby ou para atuar no mercado.
        </p>
        <p class="aprender">O QUE VOU APRENDER?</p>
        <section class="reviews">
          <h3>PRINCIPAIS AVALIAÇÕES</h3>
          <p class="fe">
            <span class="stars">★★★★★</span><br />Um curso excelente! Aprendi
            muito sobre técnicas de composição e iluminação, e isso mudou
            completamente a qualidade das minhas fotos. As aulas são bem
            explicadas, e os exercícios práticos me ajudaram a criar um
            portfólio que impressiona. Vale a pena para quem quer levar a
            fotografia a sério!
          </p>
          <strong class="nome">FERNANDA V.</strong>

          <p class="levy">
            <span class="stars">★★★☆☆</span><br />O curso é bom, mas achei que
            algumas aulas poderiam ser mais aprofundadas, especialmente na parte
            de edição. Para iniciantes, funciona bem, mas quem já tem um pouco
            de experiência pode sentir falta de conteúdos mais avançados. No
            geral, foi útil, mas poderia ser melhor
          </p>
          <strong class="nome">LEVY S.</strong>
        </section>
      </section>

      <section class="direita">
        <p class="estrelas">4.5 ★★★★☆</p>
        <img src="../../../public/images/foto.svg" alt="Imagem ilustrativa do curso" />
        <section class="container">
          <section class="linha-info">
            <p class="bold">FEITO POR:</p>
            <p class="reg"><%= curso.professor %></p>
          </section>
          <section class="linha-info">
            <p class="bold">DURAÇÃO:</p>
            <p class="reg"><%= curso.duracao %></p>
          </section>
          <section class="linha-info">
            <p class="bold">VALOR:</p>
            <p class="reg">R$<%= curso.valor %></p>
          </section>
          <a href="../pages/home/planos.ejs" class="matricula">MATRICULAR-SE</a>
        </section>
      </section>
    </main>
  </body>
</html>
