<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cappuensino - Lógica de Programação</title>
    <link rel="stylesheet" href="../../../public/css/c-log.css" />
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../../../public/images/voltar.svg" alt="Voltar" />
      </button>
      <section>
        <img
          src="../../../public/images/Logo (370 x 65 px).png"
          alt="Logo Cappuensino"
          class="logo"
        />
      </section>
    </header>

    <main>
      <section class="esquerda">
        <h2>CURSO ONLINE DE</h2>
        <h1>LÓGICA DE PROGRAMAÇÃO</h1>
        <p class="curso">
          Este curso é ideal para quem deseja dar os primeiros passos no mundo
          da programação. Nele, você aprenderá os fundamentos da lógica
          computacional, essenciais para entender e construir soluções
          eficientes para problemas reais. Através de uma abordagem prática e
          didática, o curso explora conceitos como algoritmos, estruturas de
          decisão, loops, variáveis, e funções.
        </p>
        <p class="aprender">O QUE VOU APRENDER?</p>
        <section class="reviews">
          <h3>PRINCIPAIS AVALIAÇÕES</h3>
          <p class="ana">
            <span class="stars">★★★★★</span><br />Gostei muito da didática e dos
            exemplos práticos apresentados. Os exercícios foram desafiadores na
            medida certa, e o suporte dos professores foi ótimo para esclarecer
            minhas dúvidas. Só senti falta de mais exemplos ligados a linguagens
            específicas, mas como base foi perfeito!
          </p>
          <strong class="nome">ANA P.</strong>

          <p class="lucas">
            <span class="stars">★★★★★</span><br />O curso superou minhas
            expectativas! As aulas são bem estruturadas, e o conteúdo é
            apresentado de forma que qualquer pessoa pode entender, mesmo sem
            experiência. Aprendi a organizar meus pensamentos e a resolver
            problemas usando lógica. É um ótimo ponto de partida para qualquer
            área da tecnologia.
          </p>
          <strong class="nome">Lucas A.</strong>
        </section>
      </section>

      <section class="direita">
        <p class="estrelas">5 ★★★★★</p>
        <img
          src="../../../public/images/log.svg"
          alt="Imagem ilustrativa do curso de Lógica de Programação"
        />
        <section class="container">
          <section class="linha-info">
            <p class="bold">FEITO POR:</p>
            <p class="reg">Professor1</p>
          </section>
          <section class="linha-info">
            <p class="bold">DURAÇÃO:</p>
            <p class="reg">8 Meses</p>
          </section>
          <section class="linha-info">
            <p class="bold">VALOR:</p>
            <p class="reg">R$728,90</p>
          </section>
          <a href="/planos" class="matricula">MATRICULAR-SE</a>
        </section>
      </section>
    </main>

    <%- include('../../partials/footer') %>
  </body>
</html>
