<footer>
    <section class="organizacao">
      <section class="caixa-das-sociais">
        <p class="siga">NOS SIGA:</p>
        <section class="sociais">
          <a href="#"
            ><img class="icons" src="../images/insta.svg" alt="icone do instagram"
          /></a>
          <a href="#"
            ><img
              class="icons"
              src="../images/facebook.svg"
              alt="icone do facebook"
          /></a>
          <a href="#"
            ><img class="icons" src="../images/discord.svg" alt="icone do discord"
          /></a>
        </section>
      </section>
      <section class="footer-options">
        <section class="servicos">
          <p class="footerstrong">INFORMAÇÕES</p>
          <a href="/">Home</a>
          <a href="/cursos">Aprenda</a>
          <a href="/sou-professor">Ensine</a>
          <a href="/quemsomos">Sobre</a>
        </section>
        <section class="servicos">
          <p class="footerstrong">SERVIÇOS</p>
          <a href="/cursos">Cursos</a>
          <a href="/planos">Planos</a>
        </section>
        <section class="servicos">
          <p class="footerstrong">Suporte</p>
          <a href="/fale-conosco">Contato</a>
        </section>
      </section>
    </section>
    <p class="direitos">© 2024 Cappuensino. Todos os direitos reservados.</p>
    <section class="termos">
      <a href="institucional/inst-seguranca">Segurança</a>
      <a href="institucional/inst-acessibilidade"
        >Declaração de acessibilidade</a
      >
      <a href="institucional/inst-privacidade">Política de Privacidade</a>
      <a href="institucional/inst-termos-de-uso">Termos de Uso</a>
    </section>
  </footer>
  