* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    overflow-y: scroll;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  header {
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    padding: 1% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6rem;
  }
  
  header img {
    width: 3.5rem;
    height: 40rem;
  }
  
  #logo {
    width: 3.5rem;
    height: auto;
  }
  
  #circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #bfac95;
    align-items: end;
  }
  
  .user-icon {
    border: none;
    background-color: #ffffff;
    padding-bottom: 1rem;
  }
  
  .user-config {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 100%;
    width: 12rem;
  }
  
  .user-config ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  
  .user-config ul li {
    padding: 1rem;
  }
  
  .user-config ul li a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .user-config ul li:hover {
    background-color: #f5f5f5;
  }
  
  #user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  #name_user {
    font-family: Fira Sans;
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #684a43;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    background-color: #684a43;
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0px;
    padding: 3% 0% 0% 1%;
    gap: 30px;
    margin-top: 6rem;
  }
  
  .conteudo {
    top: 50px;
    margin: 10% 10% 5% 30%;
    align-items: center;
  }
  
  .select {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-items: center;
    gap: 10px;
    padding: 5px 30px;
    border-radius: 50px 0px 0px 50px;
  }
  
  .select > p {
    color: #684a43;
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
  }
  
  nav > a {
    color: #fff;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 0px 0px 62px;
  }
  
  h1 {
    color: #684a43;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
  
  .quadrado {
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    width: 130%;
    height: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 50px;
  }
  
  h2 {
    color: #684a43;
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.1em;
    align-self: flex-start;
    margin-left: 10px;
  }
  
  .grafico {
    width: auto;
    height: 100px;
  }
  
  .item1,
  .item2,
  .item3,
  .item4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .faturamento {
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    font-family: "Fira Sans", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 200px;
    justify-items: center;
  }
  
  .red {
    color: #cd5555;
    font-size: 0.8em;
    font-weight: 900;
  }
  
  table {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 10px 3% 3% 3%;
    width: 94%;
    height: 70%;
    padding-bottom: 50px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    border-bottom: 1px solid black;
    font-style: italic;
  }
  
  .quadrado2 {
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 130%;
    height: 75%;
  }
  
  .caixa-cinza {
    height: 70px;
    width: 100%;
    background-color: #eeeeee;
    padding: 2% 20px;
  }
  
  .search-box {
    width: 25%;
    height: 35px;
    padding: 10px 35px;
    border: none;
    border-radius: 50px;
    font-size: 0.8em;
    background-image: url(../Images/lupa.svg);
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
  }
  
  .quadrado3 {
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    width: 130%;
    height: 90%;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 25%;
  }

  .q-suporte {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px #bfac95;
    background-color: #fff;
    padding: 25px 50px;
    margin-top: 5%;
    border-radius: 15px;
    gap: 15px;
  }

  #nome-suporte {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
    color: #684a43;
    font-size: 1.1em;
  }

  #p-suporte {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 1.2em;
  }

  #email-suporte {
    font-family: "Fira Sans", serif;
    font-weight: 380;
    font-style: italic;
    color: black;
    font-size: 1em;
  }

  #infos-suporte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .paragrafos {
    margin: 20px 0px 0px 50px;
    line-height: 0.9em;
  }
  
  span {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .imgp {
    display: inline-block;
    vertical-align: middle;
  }
  
  #table_lucro {
    text-indent: 0px;
    width: 70%;
    margin: 50px 12%;
    padding-bottom: 0px;
  }
  
  #table_lucro th,
  #table_lucro td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-style: normal;
  }
  
  #table_lucro th {
    text-align: center;
  }
  
  #table_lucro td:first-child {
    text-align: center;
  }
  
  button {
    margin: 20px 10px 0px 10px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid black;
  }
  
  #grafico_f {
    width: 600px;
    height: auto;
    margin: 0px 10%;
  }