@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #684a43;
}

body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  background-color: #fff;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 6rem;
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.info-coluna {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-family: Fira Sans;
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0%;
  color: var(--primary-color);
}

.description {
  font-family: Fira Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0%;
  color: #000000;
}

.avaliacao {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 6rem;
  flex-direction: column;
  gap: 3rem;
}

.numero {
  font-family: Fira Sans;
  font-weight: 900;
  font-style: italic;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 8%;
  text-align: center;
  color: var(--primary-color);
}

.estrela img {
  filter: grayscale(100%); /* Estrelas começam cinzas */
  transition: filter 0.3s; /* Suaviza a transição de cor */
}
.estrela img.ativa {
  filter: grayscale(0%); /* Estrelas selecionadas ficam coloridas */
}

.rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

textarea {
  width: 100%;
  height: 22rem;
  border: 2px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1%;
  font-family: Fira Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0%;
}

.placeholder {
  
  margin: 1rem 1rem;
}

.botao-avaliar {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 3rem;
  align-items: center;
}

.caixa-botao-avaliar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 2%;
  margin-bottom: 1%;
}

.botao-avaliar a {
  text-decoration: none;
  font-family: Fira Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 7.2px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--primary-color);
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }

  .info {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  .info-coluna {
    gap: 2rem;
  }

  .title,
  .description {
    font-size: 1.1rem;
  }

  .numero {
    font-size: 2.25rem;
  }

  .caixa-escrita {
    height: 18rem;
  }

  .placeholder {
    font-size: 1.1px;
  }

  .botao-avaliar {
    width: 16rem;
    height: 2.8rem;
  }

  .botao-avaliar a {
    font-size: 1.375rem;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .info {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .info-coluna {
    gap: 1.5rem;
  }

  .title,
  .description {
    font-size: 1rem;
  }

  .numero {
    font-size: 2rem;
  }

  .caixa-escrita {
    height: 15rem;
  }

  .placeholder {
    font-size: 1rem;
  }

  .botao-avaliar {
    width: 14rem;
    height: 1.25rem;
  }

  .botao-avaliar a {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }

  .info {
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }

  .info-coluna {
    gap: 1rem;
  }

  .title,
  .description {
    font-size: 0.9rem;
  }

  .numero {
    font-size: 1.75rem;
  }

  .caixa-escrita {
    height: 12rem;
  }

  .placeholder {
    font-size: 1rem;
  }

  .botao-avaliar {
    width: 12rem;
    height: 2.2rem;
  }

  .botao-avaliar a {
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .info {
    margin-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info-coluna {
    gap: 0.8rem;
  }

  .title,
  .description {
    font-size: 1rem;
  }

  .avaliacao {
    padding-bottom: 3rem;
  }

  .rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .numero {
    font-size: 1.5rem;
  }

  .caixa-escrita {
    height: 10rem;
  }

  .placeholder {
    font-size: 0.75rem;
  }

  .caixa-botao-avaliar {
    display: flex;
    justify-content: flex-end;
  }

  .botao-avaliar {
    width: 10rem;
    height: 2rem;
  }

  .botao-avaliar a {
    font-size: 1rem;
  }
}
