@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #684a43;
}

body {
  font-size: 16px;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  width: 100%;
  height: 6rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 3rem;
  box-shadow: 0px 4px 20px 0px rgba(191, 172, 149, 0.7);
  background-color: white;
}

header p {
  font-family: Fira Sans;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--primary-color);
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

header div img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

header div p {
  font-family: Fira Sans;
  font-weight: 800;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.user-icon{
  border: none;
  background-color: #ffffff;
}

.user-config {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 100%;
  width: 12rem;
}

.user-config ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Fira Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  
}

.user-config ul li {
  padding: 1rem;
}

.user-config ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.user-config ul li:hover {
  background-color: #f5f5f5;
}

.menu-hamburguer{
  border: none;
  background-color: #ffffff;
}

.user-menu{
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 0%;
  width: 15rem;
  margin-top: 6rem;
}

.user-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Fira Sans;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.user-menu ul li {
  padding: 1rem;
}

.user-menu ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.user-menu ul li:hover {
  background-color: #f5f5f5;
}


.logo-cappu{
  width: 100%;
  height: auto;
}

@media (max-width: 1600px) {
  header {
    padding-left: 3rem;
    padding-right: 2rem;
  }

  header p {
    font-size: 1.4rem;
  }

  header div p {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  header {
    padding-left: 2rem;
    padding-right: 1rem;
    height: 5rem;
  }

  header p {
    font-size: 1.3rem;
  }

  header div img {
    width: 50px;
  }

  header div p {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
  }

  header p {
    font-size: 1.2rem;
  }

  header div {
    gap: 1rem;
  }

  header div img {
    width: 40px;
  }

  header div p {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3.5rem;
  }

  header p {
    font-size: 1rem;
  }

  header div {
    gap: 0.5rem;
  }

  header div img {
    width: 30px;
  }

  header div p {
    font-size: 0.6rem;
  }

  .logo-cappu{
    width: 60%;
    height: auto;
  }
}
