@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #684a43;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

main {
  width: 100%;
  padding-left: 4.0625em;
  padding-right: 4.0625em;
  box-sizing: border-box;
  padding-top: 7rem;
}

.icons {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2.875em;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-top: 2.875em;
  padding-left: 4em;
  padding-right: 4em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.profile img {
  width: 18.75em;
  height: auto;
}

.nome {
  font-family: Fira Sans;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  line-height: 1.2em;
  letter-spacing: 0%;
  color: var(--primary-color);
}

.alunoid {
  font-family: Fira Sans;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5em;
  line-height: 0.75em;
  letter-spacing: 0%;
  color: #000000;
}

.opcoes {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 5.125em;
  padding-top: 10.69em;
}

.botao {
  font-family: Fira Sans;
  font-weight: 900;
  font-style: italic;
  font-size: 2.25em;
  line-height: 0.675em;
  letter-spacing: 0%;
  text-align: center;
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid #000000;
  width: 38rem;
  height: 5.875rem;
  border-width: 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  main {
    padding-left: 1em;
    padding-right: 1em;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .profile img {
    width: 12em;
  }

  .nome {
    font-size: 2.5em;
  }

  .alunoid {
    font-size: 1.5em;
  }

  .opcoes {
    padding-top: 4em;
    gap: 2em;
  }

  .botao {
    width: 20rem;
    height: 4rem;
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .nome {
    font-size: 2em;
  }

  .alunoid {
    font-size: 1.2em;
  }

  .botao {
    font-size: 1.2em;
    height: 3.5rem;
  }
}
