@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #684a43;
    --second-color: #BFAC95;
  }

main {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

h1 {
    text-align: center;
}

.conteúdo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    padding-bottom: 100px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    font-style: italic;
    color: var(--primary-color);
}

.pt-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pt-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.box1 {
    box-shadow: 0px 0px 10px 2px rgba(178, 134, 123, 0.5);
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    align-items: center;
    background-image: url("mente.svg"); /*Mudar o direcionamento dessa imagem...*/
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
}

.box2 {
    box-shadow: 0px 0px 10px 2px rgba(178, 134, 123, 0.5);
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    align-items: center;
    background-image: url("cama.svg"); /*Mudar o direcionamento dessa imagem...*/
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
}

.box1 > p, .box2 > p {
    font-size: 1em;
}

.visu > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin-bottom: -10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.pt-2 > h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
    color: var(--primary-color);
}

#title {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
    color: var(--primary-color);
}

select {
    border: 1px solid black;
    padding-left: 5px;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
}

#iniciar {
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 20px;
    width: 160px;
    height: 30px;
    padding: 0px;
    margin-top: 50%;
}

#iniciar:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
    transform: scale(1.05);
    transition: 0.3s;
}

.opc {
    margin: 20px 0px;
}

#janela-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    padding: 10px;
    background: lightblue;
    border-radius: 8px;
    text-align: center;
    display: none; /* Inicialmente oculta */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}


@media (max-width: 1000px) {
    .box1, .box2 {
        width: 150px;
    }
}

@media  (max-width: 650px) {
    .visu {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 20px;
    }
}

@media  (max-width: 500px) {
    .visu {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 20px;
    }

    .conteúdo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
    }
    .pt-1 {
        align-items: center;
        text-align: center;
    }

    select {
        padding-left: 0px;
    }
}