<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/certificado.css">
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Certificados</title>
</head>
<body>
    <header>
        <a href="/aluno/a-todososcursos"><img src="/images/voltar.svg" alt=""></a>
        <p>CERTIFICADOS</p>
        <div>
          <p>Aluno 1</p>
          <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
              <img  src="/images/perfil.svg" alt="imagem do perfil">
              <div class="user-config" id="userConfig">
                  <ul>
                      <li><a href="/aluno/a-perfil">MENU</a></li>
                      <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                      <li><a href="/">SAIR</a></li>
                  </ul>
              </div>
          </button>
      </div>
      </header>
    <main>
        <section class="container">
            <h1>MEUS CERTIFICADOS</h1>
            <section class="certificado">
                <p>Lógica de Programação</p>
                <section class="icons">
                    <a href="#"><img src="/images/docsearch.svg" alt=""></a>
                    <a href="#"><img src="/images/upload.svg" alt=""></a>
                </section>
            </section>
            <p>Não há mais certificados....</p>
        </section>
    </main>
    <script src="/js/icon-menu.js"></script>
</body>
</html>