<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/alunoconfig.css" />
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Configurações</title>
  </head>
  <body>
    <header>
      <a href="/aluno/a-perfil"><img src="/images/voltar.svg" alt=""></a>
      <p>CONFIGURAÇÕES</p>
      <div>
        <p>Aluno 1</p>
        <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
            <img  src="/images/perfil.svg" alt="imagem do perfil">
            <div class="user-config" id="userConfig">
                <ul>
                    <li><a href="/aluno/a-perfil">MENU</a></li>
                    <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                    <li><a href="/">SAIR</a></li>
                </ul>
            </div>
        </button>
    </div>
    </header>
    <main>
      <h1>INFORMAÇÕES PESSOAIS</h1>
      <section class="dados">
        <h2>DADOS CADASTRAIS</h2>
        <section>
          <p class="info-item">
            <strong class="info-key">NOME</strong>
            <span class="info-value" id="nome">Aluno 1</span>
          </p>
          <p class="info-item">
            <strong class="info-key">EMAIL</strong>
            <span class="info-value" id="email">Aluno1@gmail.com</span>
          </p>
        </section>
        <a class="redefinir" href="#">REDEFINIR SENHA</a>
        <a class="redefinir" href="#">REDEFINIR E-MAIL</a>
        <img src="/images/perfil.svg" alt="" />
      </section>
      <section class="preferencias">
        <h3>PREFERÊNCIAS</h3>
        <section class="caixa-das-info">
          <form action="" method="post" id="meuFormulario">
            <section class="form-group">
              <label for="metas" class="info-key">METAS</label>
              <select class="info-value-form" id="metas" name="metas" required>
                <option value="Vestibular">Vestibular</option>
                <option value="opcao1">Opção 1</option>
                <option value="opcao2">Opção 2</option>
                <option value="opcao3">Opção 3</option>
                <option value="outra">Opção 4</option>
              </select>
            </section>

            <section class="form-group">
              <label for="area-interesse" class="info-key"
                >ÁREA DE INTERESSE</label
              >
              <select
                class="info-value-form"
                id="area-interesse"
                name="area-interesse"
                required
              >
                <option value="Medicina">Medicina</option>
                <option value="opcao1">Opção 1</option>
                <option value="opcao2">Opção 2</option>
                <option value="opcao3">Opção 3</option>
                <option value="opcao4">Opção 4</option>
              </select>
            </section>

            <section class="form-group">
              <label for="horario-estudo" class="info-key"
                >HORÁRIO DE ESTUDO</label
              >
              <select
                class="info-value-form"
                id="horario-estudo"
                name="horario-estudo"
                required
              >
                <option value="Seg à sex">Seg à sex</option>
                <option value="opcao1">Opção 1</option>
                <option value="opcao2">Opção 2</option>
                <option value="opcao3">Opção 3</option>
                <option value="outra">Opção 4</option>
              </select>
            </section>

            <section class="form-group">
              <label for="tempo-estimado" class="info-key"
                >TEMPO ESTIMADO</label
              >
              <select
                class="info-value-form"
                id="tempo-estimado"
                name="tempo-estimado"
                required
              >
                <option value="20 Min">20 Min</option>
                <option value="opcao1">Opção 1</option>
                <option value="opcao2">Opção 2</option>
                <option value="opcao3">Opção 3</option>
                <option value="outra">Opção 4</option>
              </select>
            </section>
          </form>
        </section>
      </section>
      <section class="preferencias">
        <h3>NOTIFICAÇÕES</h3>
        <section class="caixa-das-info">
          <form id="meuFormulario">
            <section class="form-group">
              <label for="metas" class="info-key">ATUALIZAÇÕES</label>
              <select class="info-value-form" id="metas" name="metas" required>
                <option value="Vestibular">Não</option>
                <option value="opcao1">Sim</option>
                <option value="opcao2">Opção 2</option>
                <option value="opcao3">Opção 3</option>
                <option value="outra">Opção 4</option>
              </select>
            </section>

            <section class="form-group">
              <label for="area-interesse" class="info-key">PRAZOS</label>
              <select
                class="info-value-form"
                id="PRAZOS"
                name="PRAZOS"
                required
              >
                <option value="Não">Não</option>
                <option value="Sim">Sim</option>
              </select>
            </section>

            <section class="form-group">
              <label for="horario-estudo" class="info-key">PROGRESSO</label>
              <select
                class="info-value-form"
                id="PROGRESSO"
                name="PROGRESSO"
                required
              >
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
              </select>
            </section>

            <section class="form-group">
              <label for="tempo-estimado" class="info-key">FEEDBACK</label>
              <select
                class="info-value-form"
                id="FEEDBACK"
                name="FEEDBACK"
                required
              >
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
              </select>
            </section>
            <section class="form-group">
              <label for="tempo-estimado" class="info-key">CHATS</label>
              <select class="info-value-form" id="CHATS" name="CHATS" required>
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
              </select>
            </section>
          </form>
        </section>
      <section class="preferencias">
        <h3>PRIVACIDADE</h3>
        <section class="caixa-das-info">
          <form id="meuFormulario">
            <section class="form-group">
              <label for="metas" class="info-key">VISIBILIDADE DO PERFIL</label>
              <select class="info-value-form" id="visibilidade-perfil" name="visibilidade-perfil" required>
                <option value="Público">Público</option>
                <option value="Privado">Privado</option>
              </select>
            </section>

            <!-- lembrar de perguntar ao professor como que bloquea uma sessao do formulario de acordo com a resposta anterior -->
            <section class="form-group">
              <label for="area-interesse" class="info-key">COMPARTILHAR DADOS</label>
              <select
                class="info-value-form"
                id="compartilhar-dados"
                name="compartilhar-dados"
                required
              >
                <option value="Apenas eu">Apenas eu</option>
                <option value="Apenas Amigos">Apenas Amigos</option>
                <option value="Visível para todos">Visível para todos</option>
              </select>
            </section>

            <section class="form-group">
              <label for="horario-estudo" class="info-key">SOLICITAR ANONIMATO</label>
              <select
                class="info-value-form"
                id="anonimato"
                name="anonimato"
                required
              >
                <option value="Sim">Sempre</option>
                <option value="Não">Nunca</option>
                <option value="Não">Me pergunte</option>
              </select>
            </section>
          </form>
        </section>
      <section class="preferencias">
        <h3>COOKIES</h3>
        <section class="caixa-das-info">
          <form id="meuFormulario">
            <section class="form-group">
              <label for="metas" class="info-key">UTILIZAÇÃO DE COOKIES </label>
              <select class="info-value-form" id="cookies" name="cookies" required>
                <option value="Permitir">Permitir</option>
                <option value="Não Permitir">Não Permitir</option>
              </select>
            </section>
          </form>
        </section>
      </section>
    </main>
    <footer>
      <span>© 2024 Cappuensino. Todos os direitos reservados.</span>
    </footer>
    <script src="/js/icon-menu.js"></script>
  </body>
</html>
