<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/gerenciarplano.css" />
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Gerenciar Plano</title>
  </head>
  <body>
    <header>
      <a href="/aluno/a-perfil"><img src="/images/voltar.svg" alt=""></a>
      <p>GERENCIAR PLANO</p>
      <div>
        <p>Aluno 1</p>
        <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
            <img  src="/images/perfil.svg" alt="imagem do perfil">
            <div class="user-config" id="userConfig">
                <ul>
                    <li><a href="/aluno/a-perfil">MENU</a></li>
                    <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                    <li><a href="/">SAIR</a></li>
                </ul>
            </div>
        </button>
    </div>
    </header>
    <h1>GERENCIAR MEU PLANO</h1>
    <main class="conteiner">
      <section class="plano-caixa">
        <h2>PLANO EXAMES + REDAÇÃO</h2>
        <ul>
          <li>Acesso a aulas para o Concursos e Vestibulares</li>
          <li>Redação com correção ilimitada</li>
          <li>Acompanhamento de Progresso</li>
          <li>Avaliações e Exercícios Diários</li>
          <li>Banco de Questões</li>
          <li>I.A Cappu</li>
          <li>Fórum Cappu</li>
          <li>Organização de Rotina</li>
          <li>Técnicas de Estudo</li>
          <li>Avaliar Professores</li>
        </ul>
      </section>
      <section class="info-caixa">
        <h2>INFORMAÇÕES</h2>
        <p class="info-preco">
          <span class="info-key">PREÇO</span>
          <span class="info-value">Mensal</span>
          <span class="info-value">R$ 69,90</span>
        </p>
        <p class="info-cobranca">
          <span class="info-key">COBRANÇA</span>
          <span class="info-value">Automática</span>
        </p>
        <p class="info-pagamento">
          <span class="info-key">PRÓXIMO PAGAMENTO</span><br />
          <span class="info-value">1 De Janeiro</span>
        </p>
        <section class="info-card">
          <img src="/images/mastercard.svg" alt="bandeira do cartao mastercard" />
          <span class="info-value">**** **** **** 2222</span>
        </section>
        <section class="gerenciar-botao">
          <a href="#">GERENCIAR FORMA DE PAGAMENTO</a>
          <a href="#">VER HISTÓRICO DE PAGAMENTO</a>
        </section>
        <section class="cancelar-plano-botao">
          <a href="#">CANCELAR PLANO</a>
          <a href="#">ALTERAR PLANO</a>
        </section>
      </section>
    </main>
    <script src="/js/icon-menu.js"></script>
  </body>
</html>
