<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/meuscursos.css" />
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Meus Cursos</title>
  </head>
  <body>
    <header>
      <a href="/aluno/a-perfil"><img src="/images/voltar.svg" alt=""></a>
      <p>MEUS CURSOS</p>
      <div>
        <p>Aluno 1</p>
        <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
            <img  src="/images/perfil.svg" alt="imagem do perfil">
            <div class="user-config" id="userConfig">
                <ul>
                    <li><a href="/aluno/a-perfil">MENU</a></li>
                    <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                    <li><a href="/">SAIR</a></li>
                </ul>
            </div>
        </button>
    </div>
    </header>
    <main>
      <section class="meuscursos">
        <section class="topic">
        <h2>NOME</h2>
        <h2>CATEGORIA</h2>
        <h2>%</h2>
        </section>
        <section class="cursos">
          <p>Phyton do Zero ao Pro</p>
          <section class="download-section">
            <span>Developer</span>
            <span class="porcentagem">100%</span>
          </section>
        </section>
        <section class="cursos">
          <p>Photoshop Profissional</p>
          <section class="download-section">
            <span>Design</span>
            <span class="porcentagem">2%</span>
          </section>
        </section>
        <section class="cursos">
          <p>I.A para Negócios</p>
          <section class="download-section">
            <span>Negócios</span>
            <span class="porcentagem">30%</span>
          </section>
        </section>
        <section class="vermais">
          <a href="/aluno/a-todososcursos">TODOS OS MEUS CURSOS</a>
          <a href="/aluno/a-certificado">MEUS CERTIFICADOS</a>
        </section>
      </section>
      <script src="/js/icon-menu.js"></script>
      <body>
      <html>