<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resumo.css">
    <link rel="stylesheet" href="/css/header2.css">
    <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
    <title>Resumos</title>
</head>
<body>
    <header>
        <a href="/aluno/a-minha-rotina-2"><img src="/images/voltar.svg" alt=""></a>
        <p>MÉTODOS DE ESTUDO</p>
        <div>
          <p>Aluno 1</p>
          <button class="user-icon" id="userIcon" aria-label="Abrir menu do usuário">
              <img  src="/images/perfil.svg" alt="imagem do perfil">
              <div class="user-config" id="userConfig">
                  <ul>
                      <li><a href="/aluno/a-perfil">MENU</a></li>
                      <li><a href="/aluno/a-config">CONFIGURAÇÕES</a></li>
                      <li><a href="/">SAIR</a></li>
                  </ul>
              </div>
          </button>
      </div>
      </header>
    <h1>RESUMOS</h1>
    <main class="container">
        <section class="resumo">
            <form action="/enviar-resumo" method="POST" enctype="multipart/form-data">
                <section class="controlador">
                    <section class="info-resumo">
                        <h2 class="subtitle">TÍTULO</h2>
                        <input type="text" 
                               name="titulo" 
                               class="descricao" 
                               placeholder="Escreva o título do seu resumo aqui">
                    </section>
                    <section class="info-resumo">
                        <h2 class="subtitle">CATEGORIA <a href="#"><img src="/images/adicionar.svg" alt="Adicionar categoria"></a></h2>
                        <select name="categoria" class="descricao">
                            <option value="">CATEGORIAS</option>
                            <option value="">CATEGORIAS</option>
                            <option value="">CATEGORIAS</option>
                            <option value="">CATEGORIAS</option>
                            <option value="">CATEGORIAS</option>
                        </select>
                    </section>
                </section>
                <section>
                    <button type="submit" class="save-button">SALVAR <img src="/images/salvar.svg" alt=""></button>
                </section>
            </form>
        </section>
        </section>
        <section class="caixa-de-texto" >
            <form action="/enviar-resumo" method="POST">
                <textarea
                  id="mensagem"
                  name="mensagem"
                  rows="15"
                  cols="90"
                  placeholder="Escreva o seu resumo aqui..."
                ></textarea>
              </form>
        </section>
    </main>
    <script src="/js/icon-menu.js"></script>  
</body>
</html>