<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício 1 - Lógica VisualG</title>
    <link rel="stylesheet" href="/css/exercicio1.css">
</head>
<body>
    <div class="container">
        <section class="question">
            <h2>Exercício 1</h2>
            <p>Qual alternativa representa corretamente a negação da expressão X e Y no VisualG?</p>
        </section>

        <div class="respostas">
            <div class="opcao">
                <p>Verdadeiro</p>
            </div>
            <div class="opcao">
                <p>Falso</p>
            </div>
            <div class="opcao">
                <p>Erro de sintaxe</p>
            </div>
            <div class="opcao">
                <p>N.D.A</p>
            </div>
        </div>
        
        <div class="progress-container">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>
        <div class="botoes-navegacao" style="display: none;" id="botoes-navegacao">
            <button class="botao-navegacao" onclick="window.location.href='../../../../src/views/dashboard/aluno/exercicio2.ejs'">
                Próximo Exercício
            </button>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/icon-menu.js"></script>
</body>
</html>

