<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meus Cursos</title>
  <link rel="stylesheet" href="/css/curso_prof.css">
  <link rel="shortcut icon" href="../../Images/favicon.ico" type="image/x-icon">
</head>

<body>

  <header>
    <nav>
      <section>
        <a href="/dashboard/professor"><img src="/images/voltar.png" alt=""></a>
      </section>
      <section class="txt-pag">
        <h1>Meus Cursos</h1>
      </section>
      <section class="perfil-professor">
        <h2>Professor1</h2>
        <a href="/dashboard/professor"><img src="/images/perfil-professor-h.png" alt=""></a>
      </section>
    </nav>
  </header>

  <main>
    <section class="meuscursos">
      <section class="topic">
        <h2>NOME</h2>
        <h2>CATEGORIA</h2>
        <h2>AVALIAÇÃO</h2>
      </section>
      <section class="cursos">
        <p>Phyton do Zero ao Pro</p>
        <section class="download-section">
          <span>Developer</span>
          <span class="avaliacao">5 ★ ★ ★ ★ ★</span>
          <a href="/dashboard/professor/../professor/p_gere_curso"><img class="editar-curso" src="/images/editar-curso.png" alt=""></a>
        </section>
      </section>
      <section class="cursos">
        <p>Lógica de Programação</p>
        <section class="download-section">
          <span>Developer</span>
          <span class="avaliacao">5 ★ ★ ★ ★ ★</span>
          <a href="/dashboard/professor/../professor/p_gere_curso"><img class="editar-curso" src="/images/editar-curso.png" alt=""></a>
        </section>
      </section>
      <section class="vermais">
        <a href="#">ADICIONAR CUPOM</a>
      </section>
    </section>

    <section class="separar-tela">
      <hr>
    </section>

    <section class="sesao">
      <h1>CRIAR CURSO</h1>
    </section>

    <section class="criacao">
      <section class="descricao">
        <section>
            <h2>NOME</h2>
            <p>Adicione um nome...</p>
            <hr>
          </section>
          <section>
            <h2>DESCRIÇÃO</h2>
            <p>Adicione uma descrição...</p>
            <hr>
          </section>
          <section>
            <h2>CATEGORIA</h2>
            <p>Adicione uma categoria...</p>
            <hr>
          </section>
        </section>
        <section class="add-aula">
          <h1>ADICIONAR AULAS</h1>
          <section class="edt-aula">
            <h2>AULA TESTE</h2>
            <a href="/dashboard/professor/../professor/p-criar_curso"><img src="/images/editar-curso.png" alt=""></a>
          </section>
          <hr>
        </section>
      </section>
      <section class="final-criacao">
        <section>
          <h1>CAPA</h1>
          <img src="/images/capa-curso.png" alt="">
        </section>
        <button><a href="">CRIAR</a></button>
      </section>

  </main>


</body>

</html>