<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Modulo</title>
    <link rel="stylesheet" href="p-modulo.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <h1>Módulo</h1>
        <section class="conteudo">
            <section class="montagem">
                <label for="nome">Nome</label>
                <input type="text" id="nome">
                <label for="desc">Descrição</label>
                <textarea name="desc" id="desc"></textarea>
                <h2>Adicionar Aula</h2>
                <section id="ad-aula">
                    <section class="aula">
                        <p>Aula 1</p>
                        <section class="edit">
                            <p>Editar</p>
                            <img src="img/edit.svg" alt="edit">
                        </section>
                        <img src="img/delete.svg" alt="delete">
                    </section>
                    <section class="aula">
                        <p>Aula 2</p>
                        <section class="edit">
                            <p>Editar</p>
                            <img src="img/edit.svg" alt="edit">
                        </section>
                        <img src="img/delete.svg" alt="delete">
                    </section>
                    <button class="add"><img src="img/add.svg" alt="add-img"></button>
                    <h2>Atividade 1</h2>
                    <section class="aula">
                        <p>Atividade 1</p>
                        <section class="edit">
                            <p>Editar</p>
                            <img src="img/edit.svg" alt="edit">
                        </section>
                        <img src="img/delete.svg" alt="delete">
                    </section>
                    <button class="add"><img src="img/add.svg" alt="add-img"></button>
                </section>
                
            </section>

            <section class="vizu">
                <h2 id="vizu-m">Visualizar do Módulo</h2>
                <section id="gray-box">
                    <section id="pt-1">
                        <img src="img/seta.svg" alt="seta">
                        <h2 id="mod">Módulo 1</h2>
                    </section>
                    <section id="line">
                        <section class="pt-2">
                            <img src="img/livro.svg" alt="livro">
                            <h3>Aula 1 - Introdução a ...</h3>
                        </section>
                        <section class="pt-2">
                            <img src="img/livro.svg" alt="livro">
                            <h3>Aula 2 - Primeiro algo...</h3>
                        </section>
                        <section class="pt-2">
                            <img src="img/peso.svg" alt="peso">
                            <h3>Atividade Avaliativa</h3>
                        </section>
                    </section>
                </section>
                <button id="save">Salvar
                    <img src="img/save.svg" alt="salvar">
                </button>
            </section>
        </section>
    </main>
    <footer>
        <h4>© 2024 Cappuensino. Todos os direitos reservados.</h4>
    </footer>
</body>
</html>