<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/adm.css"> <!--adicionar "../../css/" no href dessa linha-->
    <link rel="shortcut icon" href="../../../../public/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Financeiro</title>
</head>
<body>
    
    <main>
        <nav>
            <a href="adm-painel.ejs" title="Painel de Controle">painel de controle</a>
            <a href="adm-g-cursos.ejs" title="gerenciamento de cursos">gerenciamento de cursos</a>
            <a href="adm-g-usuarios.ejs" title="gerenciamento de usuários">gerenciamento de usuários</a>
            <a href="adm-financeiro.ejs" title="financeiro">financeiro</a>
            <section class="select">
                <img src="../../../../public/images/suporte.svg" alt="Suporte"> <!--Adicionar "../../Images/" no src dessa linha-->
                <p>suporte</p>
            </section>
        </nav>
        <section class="conteudo">
            <h1>mensagens de suporte</h1>
            <p><i>Nessa área você pode verificar as mensagens de suporte enviadas pelos usuários da plataforma.</i></p>
            <section class="q-suporte"> <!-- Depois muda esse class aqui-->
                <section id="infos-suporte">
                    <section>
                        <h3 id="nome-suporte">Maria Augusta</h3>
                        <p id="email-suporte">usuário123@gmail.com</p>
                    </section>
                    <img src="../../../../public/images/delete.svg" alt="Lixeira" id="Lixeira">
                </section>
                <section id="mensagem-suporte">
                    <p id="p-suporte">Minha plataforma está quebrando quando tento mudar para o modo escuro. Já tentei dar f5, deslogar e logar de novo, mas nada funciona, alguém pode me ajudar?</p>
                </section>
            </section>

            <section class="q-suporte"> <!-- Depois muda esse class aqui-->
                <section id="infos-suporte">
                    <section>
                        <h3 id="nome-suporte">Maria Augusta</h3>
                        <p id="email-suporte">usuário123@gmail.com</p>
                    </section>
                    <img src="../../../../public/images/delete.svg" alt="Lixeira" id="Lixeira">
                </section>
                <section id="mensagem-suporte">
                    <p id="p-suporte">Minha plataforma está quebrando quando tento mudar para o modo escuro. Já tentei dar f5, deslogar e logar de novo, mas nada funciona, alguém pode me ajudar?</p>
                </section>
            </section>

            <section class="q-suporte"> <!-- Depois muda esse class aqui-->
                <section id="infos-suporte">
                    <section>
                        <h3 id="nome-suporte">Maria Augusta</h3>
                        <p id="email-suporte">usuário123@gmail.com</p>
                    </section>
                    <img src="../../../../public/images/delete.svg" alt="Lixeira" id="Lixeira">
                </section>
                <section id="mensagem-suporte">
                    <p id="p-suporte">Minha plataforma está quebrando quando tento mudar para o modo escuro. Já tentei dar f5, deslogar e logar de novo, mas nada funciona, alguém pode me ajudar?</p>
                </section>
            </section>
        </section>
    </main>
</body>
</html>
