<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/inst.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Termos de Uso</title>
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../images/voltar.svg" alt="" />
      </button>
      <section>
        <img src="../images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>
    <main>
      <h1>DECLARAÇÃO DE SEGURANÇA</h1>
      <br />
      <p>
        No CAPPUENSINO, a segurança dos nossos usuários é uma prioridade.
        Estamos comprometidos em proteger seus dados e garantir que todas as
        suas interações na nossa plataforma sejam realizadas de forma segura e
        confiável. Implementamos medidas rigorosas para proteger as informações
        pessoais e financeiras de nossos alunos, professores e demais usuários.
      </p>
      <br />
      <br />
      <br />
      <h2>COMPROMISSO COM A SEGURANÇA</h2>
      <br />
      <p>
        Utilizamos tecnologias avançadas e práticas de segurança recomendadas
        pelo setor para proteger os dados dos nossos usuários contra acessos não
        autorizados, uso indevido, divulgação ou modificação indevida. Nosso
        objetivo é fornecer uma experiência segura em todas as etapas de sua
        jornada educacional na nossa plataforma.
      </p>
      <br />
      <br />
      <br />
      <h2>CRIPTOGRAFIA E PROTEÇÃO DE DADOS</h2>
      <br />
      <br />
      <ul>
        <li>
          <span>Criptografia SSL (Secure Socket Layer): </span> Todos os dados
          transmitidos entre seu navegador e nossa plataforma são protegidos por
          criptografia SSL, garantindo que suas informações pessoais, como dados
          de login e transações financeiras, sejam mantidas seguras e privadas.
        </li>
        <br />
        <li>
          <span>Armazenamento Seguro: </span> Suas informações pessoais são
          armazenadas em servidores protegidos por medidas de segurança física e
          eletrônica. Utilizamos métodos de proteção como firewalls e sistemas
          de detecção de intrusões para impedir acessos indevidos.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>AUTENTICAÇÃO DE DOIS FATORES (2FA)</h2>
      <br />
      <p>
        Para aumentar a segurança da sua conta, oferecemos a opção de habilitar
        a <span>Autenticação de Dois Fatores (2FA)</span>. Esse recurso adiciona
        uma camada extra de proteção, exigindo uma segunda forma de autenticação
        além da senha ao acessar sua conta.
      </p>
      <br />
      <br />
      <br />
      <h2>PROTEÇÃO CONTRA FRAUDES</h2>
      <br />
      <p>
        Temos sistemas avançados de monitoramento para detectar atividades
        suspeitas e prevenir fraudes. Além disso, realizamos auditorias
        regulares em nossa plataforma para identificar e corrigir potenciais
        vulnerabilidades de segurança.
      </p>
      <br />
      <br />
      <br />
      <h2>SEGURANÇA DE PAGAMENTOS</h2>
      <br />
      <p>
        Todas as transações financeiras realizadas no CAPPUENSINO são
        processadas através de provedores de pagamento confiáveis, que seguem
        rigorosos padrões de segurança (como PCI-DSS). Isso garante que seus
        dados financeiros, como informações de cartões de crédito ou contas
        bancárias, sejam tratados com total segurança.
      </p>
      <br />
      <br />
      <br />
      <h2>ATUALIZAÇÕES REGULARES</h2>
      <br />
      <p>
        Nosso site e seus componentes são constantemente monitorados e
        atualizados para garantir que estejam protegidos contra novas ameaças de
        segurança. Implementamos patches de segurança regulares e melhorias
        tecnológicas para manter nossos sistemas protegidos contra ataques
        cibernéticos.
      </p>
      <br />
      <br />
      <br />
      <h2>CONSCIENTIZAÇÃO DE SEGURANÇA DOS USUÁRIOS</h2>
      <br />
      <p>
        A segurança é uma responsabilidade compartilhada. Recomendamos que os
        usuários sigam as práticas básicas de segurança digital, como:
      </p>
      <br />
      <ul>
        <li>Usar senhas fortes e exclusivas para sua conta no CAPPUENSINO.</li>
        <br />
        <li>Evitar compartilhar suas credenciais de login com terceiros.</li>
        <br />
        <li>
          Monitorar regularmente suas atividades de conta para identificar
          qualquer uso não autorizado.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>NOTIFICAÇÃO DE INCIDENTES</h2>
      <br />
      <p>
        Em caso de qualquer violação de segurança que comprometa os dados
        pessoais dos usuários, notificaremos imediatamente todos os afetados e
        tomaremos as medidas necessárias para mitigar os danos. Nossa equipe de
        segurança está sempre pronta para agir rapidamente e garantir a proteção
        de nossos usuários.
      </p>
      <br />
      <br />
      <br />
      <h2>POLÍTICA DE PRIVACIDADE E PROTEÇÃO DE DADOS</h2>
      <br />
      <p>
        Além das práticas de segurança descritas, respeitamos a
        <span>Política de Privacidade</span>, que detalha como suas informações
        pessoais são coletadas, usadas e protegidas. A conformidade com as
        regulamentações de privacidade, como a
        <span>Lei Geral de Proteção de Dados (LGPD)</span> no Brasil, é uma de
        nossas maiores prioridades.
      </p>
      <br />
      <br />
      <br />
      <h2>RELATO DE VULNERABILIDADES</h2>
      <br />
      <p>
        Estamos comprometidos em melhorar constantemente a segurança de nossa
        plataforma. Caso identifique qualquer vulnerabilidade ou falha de
        segurança no CAPPUENSINO, pedimos que entre em contato imediatamente
        através do e-mail [cappuensino0@gmail.com]. Agradecemos seu feedback e
        colaboração.
      </p>
      <br />
      <p>
        Acreditamos que a confiança dos nossos usuários é construída por meio de
        uma experiência segura e protegida. O CAPPUENSINO continuará investindo
        em tecnologias de ponta e melhores práticas para garantir a segurança de
        todos que utilizam nossa plataforma.
      </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
