<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/inst.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Termos de Uso</title>
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../images/voltar.svg" alt="" />
      </button>
      <section>
        <img src="../images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>
    <main>
      <h1>POLÍTICA DE PRIVACIDADE</h1>
      <br />
      <p>
        Esta Política de Privacidade descreve como o CAPPUENSINO coleta, usa,
        armazena e protege as informações pessoais dos usuários que acessam e
        utilizam nossos serviços. Valorizamos sua privacidade e nos
        comprometemos a garantir que seus dados estejam seguros.
      </p>
      <br />
      <br />
      <br />
      <h2>INFORMAÇÕES COLETADAS</h2>
      <br />
      <p>
        Quando você acessa o CAPPUENSINO e utiliza nossos serviços, podemos
        coletar diferentes tipos de informações, incluindo:
      </p>
      <br />
      <ul>
        <li>
          <span>Informações Pessoais: </span>Nome, e-mail, número de telefone,
          endereço, data de nascimento e outras informações fornecidas durante o
          cadastro.
        </li>
        <li>
          <span>Informações de Pagamento: </span>Dados de cartões de crédito ou
          outras formas de pagamento, coletados durante a compra de cursos ou
          outros serviços.
        </li>
        <li>
          <span>Informações de Uso: </span>Dados sobre como você navega em nosso
          site, incluindo páginas acessadas, tempo de navegação, interações com
          o conteúdo e preferências de estudo.
        </li>
        <li>
          <span>Dados de Dispositivos: </span>Informações sobre o dispositivo
          utilizado para acessar o site, como endereço IP, navegador, sistema
          operacional e outros identificadores técnicos.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>COMO UTILIZAMOS SUAS INFORMAÇÕES</h2>
      <br />
      <br />
      <p>As informações coletadas são utilizadas para:</p>
      <br />
      <ul>
        <li>
          <span>Personalizar sua experiência: </span>Adaptamos o conteúdo e
          recomendações de acordo com suas preferências e hábitos de estudo.
        </li>
        <li>
          <span>Oferecer suporte: </span>Responder a dúvidas, solucionar
          problemas técnicos e fornecer atendimento ao cliente.
        </li>
        <li>
          <span>Realizar transações: </span>Processar pagamentos e garantir a
          entrega dos serviços adquiridos.
        </li>
        <li>
          <span>Enviar comunicações: </span>Enviar notificações importantes
          sobre sua conta, atualizações de nossos serviços e ofertas
          personalizadas (com a possibilidade de optar por não receber essas
          comunicações).
        </li>
        <li>
          <span>Melhorar nossos serviços: </span>Usamos as informações coletadas
          para aprimorar a usabilidade do site, desenvolver novos recursos e
          corrigir problemas.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>COMPARTILHAMENTO DE INFORMAÇÕES</h2>
      <br />
      <p>
        O CAPPUENSINO não vende, aluga ou compartilha suas informações pessoais
        com terceiros, exceto nos seguintes casos:
      </p>
      <br />
      <ul>
        <li>
          <span>Prestadores de Serviços: </span>Podemos compartilhar suas
          informações com terceiros confiáveis que nos ajudam a operar o site,
          processar pagamentos e fornecer suporte ao cliente, desde que essas
          partes mantenham a confidencialidade das informações.
        </li>
        <li>
          <span>Obrigações Legais: </span>Suas informações poderão ser
          divulgadas caso sejamos obrigados por lei, por decisão judicial ou
          para proteger os direitos e a segurança da nossa empresa, dos usuários
          e do público.
        </li>
        <li>
          <span>Consentimento do Usuário: </span>Com o seu consentimento,
          podemos compartilhar informações para outros fins específicos.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>COOKIES E TECNOLOGIAS DE RASTREAMENTO</h2>
      <br />
      <p>
        Utilizamos <span>cookies</span> e outras tecnologias de rastreamento
        para melhorar a navegação no site, personalizar conteúdos e analisar o
        tráfego. Você pode optar por desativar os cookies nas configurações do
        seu navegador, mas isso pode afetar algumas funcionalidades do site.
      </p>
      <br />
      <br />
      <br />
      <h2>SEGURANÇA DAS INFORMAÇÕES</h2>
      <br />
      <p>
        Implementamos medidas de segurança físicas, eletrônicas e
        administrativas para proteger suas informações contra acesso não
        autorizado, perda ou alteração. Utilizamos criptografia, firewalls e
        controle de acesso para garantir a integridade dos seus dados.
      </p>
      <br />
      <p>
        No entanto, lembre-se de que, embora façamos o possível para proteger
        suas informações, nenhum sistema é completamente seguro, e não podemos
        garantir a segurança absoluta dos dados transmitidos pela internet.
      </p>
      <br />
      <br />
      <br />
      <h2>RETENÇÃO DE DADOS</h2>
      <br />
      <p>
        Manteremos suas informações enquanto for necessário para fornecer nossos
        serviços, cumprir obrigações legais e melhorar nossos produtos. Se você
        desejar excluir sua conta ou solicitar a exclusão de seus dados
        pessoais, pode fazer a solicitação por meio do nosso suporte, e nos
        comprometemos a atender seu pedido, salvo exigências legais que nos
        obriguem a manter certos dados.
      </p>
      <br />
      <br />
      <br />
      <h2>DIREITOS DOS USUÁRIOS</h2>
      <br />
      <ul>
        <li>
          <span>Acessar suas informações: </span>Solicitar uma cópia dos dados
          pessoais que armazenamos sobre você.
        </li>
        <li>
          <span>Corrigir ou atualizar dados: </span>Modificar ou atualizar
          informações incorretas ou desatualizadas.
        </li>
        <li>
          <span>Excluir informações: </span>Solicitar a exclusão dos seus dados,
          exceto nos casos em que tenhamos que manter determinadas informações
          por exigência legal.
        </li>
        <li>
          <span>Solicitar a portabilidade: </span>Solicitar que forneçamos seus
          dados em um formato estruturado, de uso comum e de fácil acesso.
        </li>
        <li>
          <span>Cancelar consentimento: </span>Revogar o consentimento dado
          anteriormente para o processamento de suas informações pessoais.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>PRIVACIDADE DE MENORES</h2>
      <br />
      <p>
        Nosso site não é destinado a menores de 13 anos. Não coletamos
        intencionalmente informações de menores sem o consentimento dos pais ou
        responsáveis. Se soubermos que coletamos informações de uma criança sem
        a devida autorização, tomaremos medidas para excluir esses dados.
      </p>
      <br />
      <br />
      <br />
      <h2>ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE</h2>
      <br />
      <p>
        Podemos atualizar esta Política de Privacidade periodicamente. Quando
        isso ocorrer, as modificações serão publicadas nesta página, e
        notificaremos os usuários por e-mail ou por meio de aviso em nosso site,
        caso sejam mudanças significativas. Recomendamos que revise essa
        política regularmente para se manter informado sobre como protegemos
        suas informações.
      </p>
      <br />
      <br />
      <br />
      <h2>CONTATO</h2>
      <br />
      <p>
        Se você tiver dúvidas ou preocupações sobre nossa Política de
        Privacidade ou sobre como suas informações são tratadas, entre em
        contato conosco através do e-mail [cappuensino0@gmail.com].
      </p>
      <br />
      <br />
      <br />
      <br />
      <h2>DATA DE EFICÁCIA: 07/10/24</h2>
      <h4>ÚLTIMA ATUALIZAÇÃO: 24/02/25</h4>
      <br />
      <br />
      <br />
      <p>
        Esses termos garantem transparência sobre o uso de dados e asseguram o
        cumprimento de regulamentações de proteção à privacidade, como a LGPD no
        Brasil.
      </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
