<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/inst.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Termos de Uso</title>
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../images/voltar.svg" alt="" />
      </button>
      <section>
        <img src="../images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>
    <main>
      <h1>TERMOS DE USO</h1>
      <br />
      <p>
        Bem-vindo ao CAPPUENSINO ! Ao acessar e utilizar nosso site de ensino,
        você concorda com os termos e condições descritos abaixo. Recomendamos
        que leia atentamente todas as cláusulas antes de iniciar o uso da
        plataforma. Caso não concorde com algum dos termos, pedimos que
        interrompa a utilização dos nossos serviços.
      </p>
      <br />
      <br />
      <br />
      <h2>ACEITAÇÃO DE TERMOS</h2>
      <br />
      <p>
        Ao criar uma conta e utilizar os serviços do CAPPUENSINO, você concorda
        em cumprir os presentes Termos de Uso, bem como a Política de
        Privacidade. Esses termos podem ser modificados periodicamente, e o uso
        contínuo da plataforma após qualquer atualização constitui aceitação das
        alterações.
      </p>
      <br />
      <br />
      <br />
      <h2>CADASTRO E CONTA DE USUÁRIO</h2>
      <br />
      <br />
      <ul>
        <li>
          Para acessar determinadas funcionalidades, você deverá criar uma conta
          fornecendo informações completas e verídicas. Você é responsável por
          manter a confidencialidade dos dados de login.
        </li>
        <li>
          Qualquer atividade realizada em sua conta será de sua total
          responsabilidade, sendo proibido o uso compartilhado de contas entre
          diferentes pessoas.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>USO DA PLATAFORMA</h2>
      <br />
      <p>
        A utilização da plataforma é destinada a fins educacionais e
        profissionais. Você concorda em:
      </p>
      <br />
      <ul>
        <li>
          Não usar a plataforma para propagar material ilegal, difamatório ou
          ofensivo.
        </li>
        <li>Não tentar acessar áreas restritas sem autorização.</li>
        <li>
          Não explorar vulnerabilidades do sistema com o intuito de prejudicar o
          funcionamento do site ou de outros usuários.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>RECURSOS PARA ALUNOS</h2>
      <br />
      <p>Os alunos têm acesso a uma série de ferramentas educacionais, como:</p>
      <br />
      <ul>
        <li>Planos de estudo personalizados.</li>
        <li>Banco de questões e simulados.</li>
        <li>Redações, correção automática e manual.</li>
        <li>Compra de cursos, acesso a materiais e fóruns de discussão.</li>
      </ul>
      <br />
      <p>
        Você concorda que os materiais adquiridos são para uso pessoal, não
        sendo permitido compartilhá-los, redistribuí-los ou revendê-los.
      </p>
      <br />
      <br />
      <br />
      <h2>RECURSOS PARA PROFESSORES</h2>
      <br />
      <p>Os professores podem:</p>
      <br />
      <ul>
        <li>Criar cursos, provas e exercícios personalizados.</li>
        <li>Oferecer materiais e receber avaliações dos alunos.</li>
        <li>
          Monetizar seus cursos, com base nas regras estabelecidas pela
          plataforma.
        </li>
      </ul>
      <br />
      <p>
        Você declara que todos os conteúdos criados por você são de sua autoria
        ou que possui os direitos necessários para utilizá-los, sendo
        responsável por qualquer violação de direitos autorais.
      </p>
      <br />
      <br />
      <br />
      <h2>PROPRIEDADE INTELECTUAL</h2>
      <br />
      <p>
        Todos os conteúdos, materiais, vídeos, textos e imagens presentes no
        site são de propriedade exclusiva do CAPPUENSINO ou de seus parceiros.
        Você não pode copiar, reproduzir, distribuir ou criar trabalhos
        derivados sem a devida autorização.
      </p>
      <br />
      <br />
      <br />
      <h2>MONETIZAÇÃO E PAGAMENTOS</h2>
      <br />
      <ul>
        <li>
          O site pode disponibilizar a compra de cursos e pacotes. Os pagamentos
          devem ser feitos de acordo com as regras e políticas da plataforma.
        </li>
        <li>
          Para professores, a monetização de cursos segue um sistema de
          comissionamento, detalhado em área específica da plataforma.
        </li>
        <li>
          Não haverá reembolso de valores já pagos, salvo em casos excepcionais,
          descritos na nossa Política de Reembolso.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>CANCELAMENTO DA CONTA</h2>
      <br />
      <p>
        Tanto o usuário quanto o CAPPUENSINO podem cancelar a conta a qualquer
        momento. O usuário pode solicitar o encerramento da conta pela área de
        configurações, e o site pode cancelar contas em casos de violação dos
        Termos de Uso.
      </p>
      <br />
      <br />
      <br />
      <h2>PRIVACIDADE DE DADOS</h2>
      <br />
      <p>
        O CAPPUENSINO compromete-se a proteger os dados pessoais fornecidos
        pelos usuários, conforme descrito em nossa Política de Privacidade.
        Coletamos apenas informações necessárias para o bom funcionamento da
        plataforma e para personalizar sua experiência de aprendizado.
      </p>
      <br />
      <br />
      <br />
      <h2>LIMITAÇÃO DE RESPONSABILIDADE</h2>
      <br />
      <p>O CAPPUENSINO não se responsabiliza por:</p>
      <br />
      <ul>
        <li>
          Falhas técnicas, interrupções de serviço ou problemas decorrentes do
          uso indevido da plataforma.
        </li>
        <li>
          Conteúdos disponibilizados por terceiros, incluindo cursos, materiais
          e respostas em fóruns de discussão.
        </li>
        <li>
          Danos ou prejuízos causados por qualquer decisão tomada com base nas
          informações oferecidas pela plataforma.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>RESOLUÇÃO DE CONFLITOS</h2>
      <br />
      <p>
        Em caso de conflitos ou disputas decorrentes do uso da plataforma, as
        partes concordam em buscar a resolução amigável. Caso não seja possível,
        fica eleito o foro da comarca de São Paulo, para dirimir quaisquer
        questões relacionadas a esses Termos de Uso.
      </p>
      <br />
      <br />
      <br />
      <h2>CONTATO</h2>
      <br />
      <p>
        Caso tenha dúvidas ou precise de mais informações sobre estes Termos de
        Uso, entre em contato conosco pelo e-mail cappuensino0@gmail.com.
      </p>
      <br />
      <p>
        Esses termos garantem uma relação justa entre os usuários e a
        plataforma, promovendo um ambiente de aprendizado saudável e seguro.
      </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
