<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/inst.css" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Termos de Uso</title>
  </head>
  <body>
    <header class="header">
      <button onclick="history.back()" class="back-button">
        <img src="../images/voltar.svg" alt="" />
      </button>
      <section>
        <img src="../images/Logo (370 x 65 px).png" alt="logo" class="logo" />
      </section>
    </header>
    <main>
      <h1>DECLARAÇÃO DE ACESSIBILIDADE</h1>
      <br />
      <p>
        No CAPPUENSINO, acreditamos que todos devem ter acesso igualitário à
        educação, independentemente de suas capacidades físicas, sensoriais ou
        cognitivas. Estamos comprometidos em garantir que nossa plataforma de
        ensino seja acessível para todos os usuários, incluindo aqueles com
        deficiência.
      </p>
      <br />
      <br />
      <br />
      <h2>COMPROMISSO COM A ACESSIBILIDADE</h2>
      <br />
      <p>
        Estamos continuamente aprimorando nosso site para atender às diretrizes
        de acessibilidade estabelecidas, em conformidade com os padrões
        internacionais, como as Diretrizes de Acessibilidade para Conteúdo Web
        (WCAG) 2.1, do World Wide Web Consortium (W3C). Nossa meta é garantir
        que todos os usuários possam navegar, acessar e interagir com nossos
        conteúdos de forma eficaz e sem barreiras.
      </p>
      <br />
      <br />
      <br />
      <h2>RECURSOS DE ACESSIBILIDADE IMPLEMENTADOS</h2>
      <br />
      <p>
        Para assegurar a acessibilidade, nossa plataforma inclui as seguintes
        funcionalidades e ajustes:
      </p>
      <br />
      <ul>
        <li>
          <span>Navegação por Teclado:</span> O site foi desenvolvido para
          permitir que usuários naveguem utilizando apenas o teclado, sem
          necessidade de um mouse.
        </li>
        <br />
        <li>
          <span>Leitores de Tela:</span> A estrutura e o conteúdo do site são
          compatíveis com a maioria dos leitores de tela, garantindo que os
          usuários com deficiência visual possam acessar as informações de forma
          eficaz.
        </li>
        <br />
        <li>
          <span>Texto Alternativo em Imagens:</span> Todas as imagens essenciais
          possuem descrições alternativas (alt text), permitindo que usuários
          com deficiência visual compreendam o contexto e o conteúdo visual do
          site.
        </li>
        <br />
        <li>
          <span>Contraste de Cores:</span> As cores usadas em nosso site são
          selecionadas para garantir um contraste adequado, facilitando a
          leitura para usuários com baixa visão ou daltonismo.
        </li>
        <br />
        <li>
          <span>Legendas e Transcrições:</span> Sempre que possível, fornecemos
          legendas em vídeo e transcrições de áudio para garantir que o conteúdo
          seja acessível a usuários com deficiência auditiva.
        </li>
        <br />
        <li>
          <span>Zoom de Página:</span> A plataforma permite o uso de zoom sem
          perda de legibilidade, oferecendo uma experiência de leitura otimizada
          para usuários com baixa visão.
        </li>
      </ul>
      <br />
      <br />
      <br />
      <h2>AJUSTES CONTÍNUOS</h2>
      <br />
      <p>
        Nosso objetivo é continuar melhorando a acessibilidade do site e, para
        isso, estamos sempre abertos a receber sugestões e realizar ajustes
        baseados em feedback dos usuários. Além disso, realizamos auditorias
        periódicas para identificar e corrigir quaisquer problemas que possam
        comprometer a acessibilidade do conteúdo.
      </p>
      <br />
      <br />
      <br />
      <h2>SUPORTE E ASSISTÊNCIA</h2>
      <br />
      <p>
        Se você tiver dificuldade em acessar qualquer parte do nosso site ou
        encontrar barreiras durante o uso da plataforma, estamos prontos para
        ajudar. Entre em contato com nossa equipe de suporte para relatar
        problemas de acessibilidade ou solicitar ajuda para acessar determinado
        conteúdo.
      </p>
      <br />
      <p>
        Você pode entrar em contato conosco pelo e-mail
        [cappuensino0@nomedosite.com]. Nossa equipe responderá o mais rápido
        possível, oferecendo a assistência necessária e tomando medidas
        corretivas para melhorar a experiência de todos os usuários.
      </p>
      <br />
      <br />
      <br />
      <h2>COLABORAÇÃO E FEEDBACK</h2>
      <br />
      <p>
        Acreditamos que a acessibilidade é um esforço contínuo e colaborativo.
        Incentivamos nossos usuários a compartilhar qualquer dificuldade
        enfrentada, bem como sugestões para aprimoramento. Sua participação é
        fundamental para que possamos tornar nossa plataforma ainda mais
        inclusiva.
      </p>
      <br />
      <br />
      <br />
      <h2>CONFORMIDADE COM AS LEIS E NORMAS</h2>
      <br />
      <p>
        Nosso compromisso com a acessibilidade também está alinhado com as
        legislações locais e internacionais, como a
        <span>Lei Brasileira de Inclusão (Lei nº 13.146/2015)</span>, que
        assegura direitos de acessibilidade digital para pessoas com
        deficiência, e as diretrizes internacionais da WCAG.
      </p>
      <br />
      <br />
      <br />
      <p>
        No CAPPUENSINO, estamos empenhados em construir uma experiência de
        ensino que seja verdadeiramente acessível e inclusiva para todos.
        Continuaremos a trabalhar incansavelmente para garantir que nossa
        plataforma esteja à altura das expectativas de todos os nossos usuários.
      </p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
