<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Cappuensino</title>
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="../../css/header2.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <header>
        <button class="back-button" onclick="history.back()">
            <img src="../../images/voltar.svg" alt="seta">
        </button>
        <section class="logo-container">
            <img src="../../images/logo+nome.svg" alt="logo" class="logo">
        </section>
      </header>

    <main>
        <section class="cadastro">
            <h2>LOGIN</h2>

            <form action="cl-login" method="POST" id="loginForm">
                <section class="campo">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" class="caixa" placeholder="Digite seu e-mail">
                </section>
                
                <section class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="password" class="caixa" placeholder="Digite sua senha">
                </section>
            
            
                <button type="submit" class="botao">ENTRAR</button>
            
                
                <a href="cl-esq_senha" class="senha">Esqueceu a senha?</a>
                <a href="cl-loginmain" class="cad">Cadastre-se</a>
            </form>

        </section>
    </main>

    <footer>
        <img src="../../images/Cappucino.svg" alt="Café" class="cafe">
        <p> 2024 Cappuensino. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
