<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha - Cappuensino</title>
    <link rel="stylesheet" href="../../../public/css/redefinir.css">
    <link rel="stylesheet" href="../../../public/css/header2.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <button class="back-button" onclick="history.back()">
            <img src="../../../public/images/voltar.svg" alt="seta">
        </button>
        <section class="logo-container">
            <img src="../../../public/images/logo+nome.svg" alt="logo" class="logo">
        </section>
      </header>

    <main>
        <section class="cadastro">
            <h2>REDEFINIR A SENHA</h2>
            <form>
                <section class="campo">
                    <label for="novaSenha">Nova Senha</label>
                    <input type="password" id="novaSenha" class="caixa" placeholder="Digite sua nova senha">
                </section>
                
                <section class="campo">
                    <label for="confirmarSenha">Confirmar Senha</label>
                    <input type="password" id="confirmarSenha" class="caixa" placeholder="Confirme sua senha">
                </section>

                <button type="submit" class="botao">REDEFINIR</button>
            </form>
        </section>
    </main>

    <footer>
        <img src="../../../public/images/Cappucino.svg" alt="Café" class="cafe">
        <p>© 2024 Cappuensino. Todos os direitos reservados.</p>
    </footer>
</body>
</html>